#lobby {
  width: 100%;
  margin: auto;
  margin-top: 10%;
  color: black;
}

#createRoom {
  width: 45%;
  float: left;
  min-height: 300px;
  ;
  align-content: center;
  background-color: #d2d0d0a6;
  border: solid gray 1px;
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 2%;

}

#roomList {
  
  width: 45%;
  float: left;
  min-height: 300px;
  background-color: #d2d0d0a6;
  border: solid gray 1px;
  margin-top: 10%;
  margin-right: 3%;
  margin-left: 2%;
  
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.heading{
  height: 10%;
  color: white;
}

body {
  background-image: url('../img/background_room.jpg')
}

.input {
  width: fit-content;
  border: 0;
  border-bottom: black solid 1px;
  text-align: center;
  background: content-box;
}
