#lobby {
  width: 100%;
  margin: auto;
}

#createRoom {
  width: 50%;
  float: left;
  min-height: 300px;
  color: white;
  align-content: center;
}

#roomList {
  color: white;
  width: 50%;
  float: left;
  min-height: 300px;
  
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul:hover {
  cursor: pointer;
}

body {
  background-image: url('../img/background_room.jpg')
}
