#registerUser {
    height: 100%;
    align-content: center;
    height: 370px;
    margin-bottom: auto;
    width: 400px;
    background-color: #d2d0d0a6;
    border: solid gray 1px;
    margin-top: 10%;
    /* padding-top: 10%; */
}

#username {
    width: fit-content;
    border: 0;
    border-bottom: black solid 1px;
    text-align: center;
    background: content-box;
}

#register {
    width: 100px;
}

body {
    background-image: url('../img/background_register.jpg')
}
.input-container {
    margin-top: inherit;
}


