
#messages {
  overflow-y: scroll;
  height: -webkit-fill-available;
  text-align: left;
  white-space: normal;
}

#m {
  width: -webkit-fill-available;
}

#chatContainer {
  position: absolute;
  /* overflow: scroll; */
  bottom: 0;
  right: 0;
  width: 50%;
  max-height: 50%
}
.closed {
  display: none;
}

#dealer {
  width: 100%;
  margin: auto;
  float: left;
  min-height: 410px;
  background: transparent url('https://www.clowerweb.com/cors/blackjack/table.png') left no-repeat;
  background-size: 100%;
}
#score {
  color: black;
  font-size: 30px;
  background: white;
  width: 40px;
}


#options {
  float: left;
}

#deal {
  float: left;
  padding: 20px;
  background-color: rgb(111, 179, 113);
}
#exit {
  padding: 15px;
  background-color: rgb(233, 68, 62);
  float: right;
}

#players {
  width: 100%;
  margin: auto;
}

.player {
  width: 25%;
  float: left;
  min-height: 300px;
}

#cards li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.input {
  width: 80%;
}



/* AAAAAAAAAAAAAAAAAAaa */

.btn {
  background: #3d6da7;
}

.message-bubble 
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { 
  background-color: #F5F5F5;
}

.message-bubble > *
{
  padding-left: 10px;    
}

.panel-body { 
  padding: 0px; 
}

.panel-footer {
  position: fixed;
  bottom: 0;
}

.panel-heading { 
  background-color: #3d6da7 !important;
  color: white !important;
  /* position: fixed; */
}

